.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  display: none; /* Hide the original select element */
}

.custom-select::before {
  content: ""; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 40px; /* Custom height */
  padding: 0 20px;
  font-size: 16px; /* Custom font size */
  color: #828282;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px; /* Width of the arrow image */
  height: 10px; /* Height of the arrow image */
  background: url("./images/arrow-down.png") no-repeat center center;
  background-size: contain;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select:focus {
  outline: none;
  border-color: #666;
}
