.divider {
  position: relative;
  width: 100%;
  height: 13px;
  background: none;
  margin: 28px 0;
  border: none;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

.divider::before {
  left: 0;
  background-color: #808080; /* Left color */
}

.divider::after {
  right: 0;
  background-color: #ed1b24; /* Right color */
}
