.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.intro-and-form {
  flex: 1;
  padding-right: 20px;
}

.intro-and-form p {
  font-size: 20px;
  color: #828282;
  margin-bottom: 20px;
  width: 624px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 17px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 0 20px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #828282;
  font-size: 16px;
}

aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}
