.output-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

label[id^="net"],
label[id^="percentage"] {
  width: 20%;
  text-align: center;
}

@media only screen and (max-width: 1260px) {
  label[id^="net"],
  label[id^="percentage"] {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  label[id^="net"],
  label[id^="percentage"] {
    font-size: 0.75em;
  }
}

.output-display label {
  font-size: 1em;
  margin-top: 10px;
}

.output-display input {
  width: 50%;
}
