body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: bold;
  padding: 211.5px 100px;
  margin: 0;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.aside-img {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}

.panel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

p,
ul,
ol,
li {
  font-size: 1em;
  color: var(--dark-gray-text-color);
  margin: 0;
}

input {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #828282;
  font-size: 1em;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 1px;
  position: relative;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

input[type="radio"]:checked::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-weight: bold;
  font-size: 0.75em;
}

button {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.25em;
  border-radius: 8px;
  width: 500px;
  height: 44px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #808080;
}

.form-element {
  width: 500px;
}

textarea {
  padding: 0 10px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #828282;
  font-size: 1em;
  box-sizing: border-box;
  resize: none;
}

.section-header {
  padding: 0 10px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: 0.3s;
  border: solid white 1px;
}

div.whitespace {
  height: 10px;
}

main {
  margin-bottom: 10px;
}
