.content {
  margin-left: 95px;
  width: 90%;
}

.content h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-img {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}

.panel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form-container {
  flex: 1;
  padding-right: 20px;
}

.form-container p {
  font-size: 20px;
  color: #828282;
  margin-bottom: 20px;
  width: 624px;
}

.form-container h2 {
  font-size: 24px;
  font-weight: 400;
}

.output-display {
  display: flex;
  flex-direction: row;
  margin: 13px;
  justify-content: center;
  gap: 20px;
}

.output-display input {
  width: 40%;
}

button {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  height: 62px;
  cursor: pointer;
  border: none;
}

.section-header {
  padding: 0 10px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
}

main {
  margin-bottom: 200px;
}
